#header {
	margin: 0 auto;
	text-align: center;
}

#page {
    width: 960px;
    height: 622px;
    margin: 0 auto;
	border: 2px solid #aaaaaa;
	padding: 0px 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#nav {
    width: 200px;
    height: 620px;
	float: left;
}

#main {
	width: 510px;
	height: 580px;
	float: left;
	padding: 10px;
    overflow: scroll;
}

#main > div {
	display: none;
}

#main > div.active {
	display: block;
}

#alerts {
	width: 200px;
	height: 620px;
	float: right;
	border-left: 1px solid #aaaaaa;
	overflow: hide;
}

#alerts > h4 {
	text-align: center;
}

.placeholder {
	display: none;
}

.tab {
    height: 124px;
    border-right: 1px solid #aaaaaa;
	text-align: center;
	background-color: #fafafa;
	cursor: pointer;
}

.tab.active {
	border: 1px solid #aaaaaa;
	border-right: 0;
	border-left: 0;
	font-weight: bold;
	background-color: #ffffff;
}

.tab:first-child.active {
	border-top: 0;
}

.tab:last-child.active {
	border-bottom: 0;
}

.tab > img {
	width: 140px;
	height: 80px;
	background-color: #ebebeb;
	margin-top: 15px;
	margin-bottom: 5px;
}

.place_alert {
	width: 200px;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaaaaa;
	position: relative;
	overflow: hidden;
}

.place_alert > img {
	float: left;
	width: 40px;
	height: 40px;
	background-color: #ebebeb;
	margin-right: 10px;
	margin-left: 10px;
}

.place_alert .placename {
	font-weight: bold;
}

.place_alert .info {
	padding: 0px 10px;
	font-size: 11px;
}

.place_alert .fold {
	height: 10px;
	border-top: 1px solid #aaaaaa;
	background-color: #eeeeee;
	text-align: center;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	width: 200px;
}

.place_alert .fold:hover {
	background-color: #dddddd;
}

.place_alert .fold .caret {
	margin-top: 3px;
}

.place_alert > .close {
	position: absolute;
	right: 10px;
	top: 2px;
}

.caret {
	border-style: solid;
	border-width: 10px 10px 0px 10px;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: #ff9933;
	border-right-color: transparent;
	height: 0px;
	width: 0px;
	display: block;
}
